.main-body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	padding: 0;
	background-color: #EAEAEA;
	margin:0;
}

.titulo {
    margin: 1em 2em;
}

.principal {
    margin: 1em 2em;
}

.card {
	background-color: #FFFFFF;
	padding: 1em;
	margin-top: 14px;
}

/*Alinhamentos*/
.textAlignCenter {
	text-align: center !important;
}

/*Fontes*/
.fontSize12 {
	font-size: 12px !important;
}

.fontWeightBold {
	font-weight: bold !important;
}

/*Padding*/
.padding0 {
	padding: 0px !important;
}

.padding10 {
    padding: 10px !important;
}

.paddingRight5 {
	padding-right: 5px !important;
}

.paddingRight8 {
	padding-right: 8px !important;
}

.paddingLeft5 {
	padding-left: 5px !important;
}

.paddingLeft18 {
	padding-left: 18px !important;
}

.paddingLeft19 {
	padding-left: 19px !important;
}

.paddingTop8 {
	padding-top: 8px !important;
}

.paddingTop0 {
	padding-top: 0px !important;
}

.paddingBottom0 {
	padding-bottom: 0px !important;
}

.paddingBottom10 {
	padding-bottom: 10px !important;
}

/*Width*/
.width100 {
	width: 100px !important;
}

.width110 {
	width: 110px !important;
}

.width130 {
	width: 130px !important;
}

.width140 {
	width: 140px !important;
}

.width160 {
	width: 160px !important;
}

.width180 {
	width: 180px !important;
}

.width200 {
	width: 200px !important;
}

.width300 {
	width: 300px !important;
}

.width100Porcento {
	width: 100% !important;
}

.width100Porcento input {
	width: 100% !important;
}

.maxWidth180 {
	max-width: 180px !important;
}

/*Height*/

/*Margin*/
.margin5 {
  margin: 5px !important;
}

.margin15 {
  margin: 15px!important;
}

.marginLeft15 {
  margin-left: 15px !important;
}

.marginTop15 {
  margin-top: 15px !important;
}

.marginTop30 {
  margin-top: 30px !important;
}

/*Border*/

.borderTop {
  border-top: 2px solid black;
}

/*Menu*/
.menubar {
    display: flex;
    align-items: center;
    background-color: #3498DB;
    padding: 10px;
}

.logo-empresa-top {
    max-width: 100px;
    max-height: 50px;
    margin-top: 0px;
}

/*Rodape*/
.rodape {
	float: right;
	margin: 0 2em;
}