body .ui-panel .ui-panel-content {
	border-top: 1px solid #c8c8c8 !important;
	border-radius: 5px !important;
	padding: 0px !important;
}

body .ui-datatable thead th {
	background: #333333 !important;
	color: #ffffff;
}

body .ui-datatable .ui-datatable-data>tr.ui-state-highlight {
	background: gray !important;
}

body .ui-panelgrid .ui-panelgrid-cell {
  background-color: transparent;
}

.my-heading-row {
  background-color: var(--surface-c);
  font-weight: bold;
}

body .ui-menu.ui-menubar {
  background-color: #3498DB;
  border: none;
  width: 100%;
}

body .ui-menu .ui-menu-list .ui-menuitem .ui-menuitem-link .ui-menuitem-icon {
    color: #ffffff;
}

body .ui-menu .ui-menu-list .ui-menuitem .ui-menuitem-link .ui-menuitem-text {
    color: #ffffff;
}

body .ui-menu .ui-menu-list .ui-menuitem.ui-menuitem-active>.ui-menuitem-link {
    background: #3498DB;
}

body .ui-menu .ui-menu-list .ui-menu-child {
    background: #3498DB;
}

body .ui-menu .ui-menu-list .ui-menuitem .ui-menuitem-link .ui-icon-triangle-1-s:last-child {
    color: #ffffff;
}